*{
    font-family: 'Noto Serif TC', serif;
}

header{
    width: 100vw;

    position: fixed;
    top:0;
    z-index: 3;
    
    background-color: #126F80;
}

.navbar{
    position: fixed;
    top:100px;
    right: 5px;

    font-family: Arial, Helvetica, sans-serif;
    
    display: inline-flex;
    flex-direction: column;
}




.content{
    margin-top:110px;
    margin-bottom: 50px;
    margin-right: 90px;
    margin-left: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


footer{
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #525E76;
    color: #DFE4DE;

    position: fixed;
    bottom:0;
}
.cpr{
    font-family: 'Montserrat', sans-serif;
}

.hdt{
    text-decoration: none!important;
}


.mainLogo{
    width: 200px;
    font-size: 1rem;
    text-align: right;
    font-weight: 900;

    margin-top: 10px;
    margin-left: 20px;
}

.navbar>a{
    text-align: center;
    margin-top: 5px;
    text-decoration: none!important;
}
.navbar>a:hover,
.ql:hover{
    text-shadow: 3px 6px 2px #DFE4DE;
}

.navclr{
    color:#126F80!important;
}

.ql{
    color:#F95151!important;
    font-weight: 800;
    text-shadow: 4px 0px 0px #F9515155;
    margin-bottom: 8px;
}


h4{
    color: #126F80;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 5px;
}


.contentLeft{
    display: inline-block;
    text-align: right;
    margin-bottom: 30px;
}
.contentRight{
    display: inline-block;
    text-align: left;
}
.title{
    background-color: #DFE4DE;
    font-weight: 900;
    font-size: 2rem;
}

.search{
    background-color: #DFE4DE00;
    margin-top: 20px;
}
.result{
    background-color: #525E7600;
    margin: 0;
}

.chsbar>a{
    margin: 20px 5px 0px 5px;
}

input{
    border: 1px solid #126F8033;
    border-radius: 5px;
}

select{
    border: 1px solid #126F8033;
    border-radius: 5px;
    font-weight: 600;
    color: #126F80;
}
.sub{
    border: 2px solid #F9515133;
    border-radius: 5px;
    color: #F95151;
    font-weight: 600;
    padding: 0px 15px;
}
.sub2{
    border: 2px solid #f8be00aa;
    border-radius: 5px;
    color: #f39e00;
    font-weight: 600;
    padding: 0px 15px;
}
.srchgp{
    margin-bottom: 10px;
}
.srchth{
    padding-right: 20px;
    color: gray;
}

.result>table{
    width: 100%;
    text-align: center;
}
.rslth>td{
    color: #126F80; /*!important*/
    font-weight: 600;
    /* font-size: 0.9rem; */
    padding-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #F9515133;

}

.rsl>td{
    padding-top: 15px;
    color: gray;
}


.awardbtn{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-width: 4px;
    border-radius: 50%;
    padding: 0;
    text-shadow: 3px 3px #126F8044;
    box-shadow: 4px 4px 3px #126F8055;
}
.awardbtn>p{
    height: 2rem;
    margin: 0;
    line-height: 1rem;
    text-align: center;
    transform: translateY(100%);
}
/* .yearselect{
    width: 100px;
} */

/* includeFile:
header
nav
footer

section - article title table
輸入版型:: section - article - 左側大標title 右側輸入欄位input
(inputinvo.php)
(inputaward.php)

輸出版型:: section - article - 左側大標title+searchinput搜尋欄位 右側結果輸出table
(list.php)
(query.php)

重點頁面::
(index.php)
(award.php)


<section class="container">

    <article class="contectLeft">
        <div class="title"></div>
        <div class="search">

        </div>
    </article>

    <article class="contectRight">
        <div class="result">

        </div>
    </article>

</section>



配色
main: surf green #126F80
second: smoky blue #525E76
bg: bone #DFE4DE
important: carnation #F95151 */