*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 50px;
    border-bottom: 1px solid #999;
    box-shadow: 0 0 5px #ccc;
}
.header ul{
    list-style-type: none;
}
.header ul li a{

}

配色
249-248-247
228-224-215
118-178-188
231-203-192